node_modules
.expo
.git
ios
android
web-build
dist
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
.vscode
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
app-example
